@include keyframes(bounce) {
  0% {
    transform:  rotateY(0deg) ;
  }
  20% {
    transform:  rotateY(15deg) ;
  }
  40% {
    transform:  rotateY(-10deg) ;
  }
  60% {
    transform:  rotateY(5deg) ;
  }
  80% {
    transform:  rotateY(-5deg) ;
  }
  100% {
    transform:  rotateY(0deg) ;
  }
}

ul.images-list {
  margin-bottom: 0;
  padding: 0;

  li.images-list-item {
    list-style-type: none;
    margin-bottom: 15px;
    text-align: center;
    @include perspective(1000px);
    position: relative;

    .images-image {
      display: block;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 120px;
      height: 80px;

      @include origin(50%, 50%);
      @include transform-style(preserve-3d);

      &:after {
        content: '\e015';
        display: block;
        font-size: 50px;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        font-weight: normal;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -23px;
        margin-left: -23px;
        z-index: 10;
        color: #ffffff;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.1);
        @include transition(all 0.5s);
        opacity: 0;
        pointer-events:none;
      }

      &:hover {
        @include animation(bounce 1s normal);
        &:after {
          opacity: 0.7;
        }
      }
    }

    &:hover {

    }
  }
}