ul.images-list {
  margin-bottom: 0;
  padding: 0;

  li.images-list-item {
    list-style-type: none;
    margin-bottom: 15px;
    text-align: center;

    .images-image {
      display: inline-block;
      -webkit-background-size: cover;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 120px;
      height: 80px;
    }
  }
}