article {
  $sectionHeight: 360px;
  $mediaWidth: 380px;
  $outset: 20px;

  width: 940px;
  margin: 0 auto 0 auto;
  padding-bottom: 20px;

  background-color: #ffffff;

  & > .container {
    margin-left: -10px;
  }

  .pageContent {
    padding: 10px;
    text-align: justify;

    h1, h2, h3 {
      text-align: left;
    }
  }

  .contentBlock {
    height: $sectionHeight;
    position: relative;
    margin-top: -1px;
    @include perspective(1000px);
    z-index: 50;

    .content {
      border-bottom: 1px dotted $gray-lighter;
      height: $sectionHeight;
      background-color: #ffffff;
      background-repeat: no-repeat;

      .text {
        padding: 30px 10px;
        font-size: $font-size-base;
        line-height: $line-height-base;
        margin-left: -$mediaWidth/2;
        @include transition(all 0.5s);

        .title {
          font-size: 24px;
          line-height: 24px;
          margin-bottom: 20px;
          width: 400px;
          color: $gray-dark;
        }

        .subtitle {
          width: 340px;
          color: $gray;
        }
      }

      .parallax-container {
        position: relative;
        width: $mediaWidth;
        float: right;
        height: $sectionHeight;
      }

      .parallax {
        &.layer_1 {
          position: absolute;
          bottom: 0;
          background-repeat: no-repeat;
          background-position: 50% 100%;
          width: 280px;
          height: $sectionHeight;
        }
      }

      a.next {
        position: absolute;
        bottom: 10px;
        display: block;
        height: 40px;
        line-height: 40px;
        vertical-align: middle;
        font-size: 16px;

        background-color: #000000;
        color: #ffffff;
        padding: 0 10px 0 10px;
        text-transform: uppercase;

        @include transition(all 0.5s);

        i.glyphicon {
          &.left {
            margin-right: 15px;
          }
          &.right {
            margin-left: 15px;
          }
        }
      }
    }

    &:hover {
      z-index: 100;
    }

    .mediaBlock {
      display: block;
      position: absolute;
      top: 0;
      width: 380px;
      height: $sectionHeight;
      background-color: #999999;
      color: #ffffff;
      @include origin(100%, 50%);
      @include transform-style(preserve-3d);
      @include transition(all 0.5s);
      z-index: 1000;

      .mediaBlockContent {
        position: relative;
        height: $sectionHeight;

        &:before {
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          top: -$outset;
        }

        &:after {
          content: ' ';
          position: absolute;
          width: 0;
          height: 0;
          border-style: solid;
          bottom: -$outset;
        }

        .icon-large {
          position: absolute;
          width: 280px;
          height: 180px;
          top: 50%;
          left: 50%;
          margin-left: -140px;
          margin-top: -90px;
          text-align: center;
          padding-top: 165px;
          font-size: 16px;

          background-repeat: no-repeat;
          background-position: 50% 0;
        }
      }
    }

    &.left {
      .content {
        padding-left: 380px;
        background-position: 100% 1px;
        @include box-shadow($shadow-margin 0 0 rgba(0,0,0,$shadow-alpha/4));

        .parallax {
          &.layer_1 {
            left: 50%;
            margin-left: -$mediaWidth/4;
          }
        }

        a.next {
          right: 547px;
          -webkit-border-radius: 0 5px 5px 0;
          -moz-border-radius: 0 5px 5px 0;
          border-radius: 0 5px 5px 0;
        }
      }

      .mediaBlock {
        left: -$outset;
        @include box-shadow($shadow-margin 0 0 rgba(0,0,0,$shadow-alpha));
        @include origin(0%, 50%);

        .mediaBlockContent {
          &:before {
            left: 0;
            border-width: 0 0 $outset $outset;
            border-color: transparent transparent #000 transparent;
          }
          &:after {
            left: 0;
            border-width: 0 $outset $outset 0;
            border-color: transparent #000 transparent transparent;
          }
        }
      }

      &:hover {
        .content {
          .text {
            margin-left: -210px;
          }

          a.next {
            right: 461px;
          }
        }

        .mediaBlock {
          @include transform(rotateY(-15deg));
        }
      }
    }

    &.right {
      .content {
        padding-right: 380px;
        background-position: 284px 1px;
        @include box-shadow(-$shadow-margin 0 0 rgba(0,0,0,$shadow-alpha/4));

        .text {
          padding: 30px 10px 30px 20px;
        }

        .parallax {
          &.layer_1 {
            left: 50%;
            margin-left: -$mediaWidth/4;
          }
        }

        a.next {
          right: 252px;
          -webkit-border-radius: 5px 0 0 5px;
          -moz-border-radius: 5px 0 0 5px;
          border-radius: 5px 0 0 5px;
        }
      }

      .mediaBlock {
        right: -$outset;
        @include box-shadow(-$shadow-margin 0 0 rgba(0,0,0,$shadow-alpha));

        .mediaBlockContent {
          &:before {
            right: 0;
            border-width: $outset 0 0 $outset;
            border-color: transparent transparent transparent #000;
          }
          &:after {
            right: 0;
            border-width: $outset $outset 0 0;
            border-color: #000 transparent transparent transparent
          }
        }
      }
      
      &:hover {
        .content {
          a.next {
            right: 332px;
          }
        }

        .mediaBlock {
          @include transform(rotateY(15deg));
        }
      }
    }

    &.section_01 {
      .content {
        background-image: image-url('sectors/sector_01_layer_02.png');

        .parallax {
          &.layer_1 {
            background-image: image-url('sectors/sector_01_layer_01.png');
          }
        }
      }
      .mediaBlock {
        background-image: image-url('bg_02.png');
        
        .icon-large {
          padding-top: 145px;
          background-image: image-url('icon_01.png');
        }
      }
    }

    &.section_02 {
      .content {
        background-image: image-url('sectors/sector_02_layer_02.png');

        .parallax {
          &.layer_1 {
            background-image: image-url('sectors/sector_02_layer_01.png');
          }
        }
      }
      .mediaBlock {
        background-image: image-url('bg_03.png');

        .icon-large {
          background-image: image-url('icon_02.png');
        }
      }
    }

    &.section_03 {
      .content {
        background-image: image-url('sectors/sector_03_layer_02.png');

        .parallax {
          &.layer_1 {
            background-image: image-url('sectors/sector_03_layer_01.png');
          }
        }
      }
      .mediaBlock {
        background-image: image-url('bg_04.png');

        .icon-large {
          background-image: image-url('icon_03.png');
        }
      }
    }
  }

  aside {
    h4 {
      margin-top: 0;
    }
    ul {
      padding: 0 0 0 18px;
      li {

      }
    }
  }
}