.container {
  $width: 960px;
  max-width: $width!important;
  width: $width!important;
}

body {
  font-family: 'Exo 2', "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 400;
  background: #fff image-url('body_bg.png') 0 0;
}

hr {
  border: none;
  height: 1px;
  background: transparent image-url('hr.png') 0 0 repeat-x;

  &.light {
    opacity: 0.25;
  }
}

nav.iconMenu {
  ul {
    display: block;
    margin: 0;
    padding: 0;

    li {
      display: block;
      float: left;
      text-align: center;
      margin-bottom: 15px;

      a {
        display: block;
        color: #ffffff;
        padding-top: 45px;
        position: relative;
        text-transform: uppercase;
        text-decoration: none;

        &:before {
          content: ' ';
          display: block;
          position: absolute;
          top: 22px;
          left: 50%;

          @include transition(all 0.3s ease);
        }

        &:hover {
          color: #00b3ee;
          &:before {
            top: 18px;
          }
        }

        &.home {
          &:before {
            @include icon(home, true);
          }
        }

        &.about {
          &:before {
            @include icon(about, true);
          }
        }

        &.services {
          &:before {
            @include icon(services, true);
          }
        }

        &.partners {
          &:before {
            @include icon(partners, true);
          }
        }

        &.certificates {
          &:before {
            @include icon(certificates, true);
          }
        }

        &.contacts {
          &:before {
            @include icon(contacts, true);
          }
        }
      }
    }
  }
}