.bundle
db/*.sqlite3
log/*.log
tmp/*
coverage/*
rerun.txt
doc/**/*
.sass-cache
._*
.env
.pryrc
.idea
public/uploads/*
app/assets/images/icons-*
app/assets/images/attachments-*
.DS_Store
.foreman

# Ignore master key for decrypting credentials and more.
config/secrets.yml
