<!-- NOTE: the casein:scaffold generator automatically appends new controllers to this file. The SCAFFOLD_INSERT line must NOT be removed -->
<!-- SCAFFOLD_INSERT -->
<li id="tab-albums"><%= link_to t('views.casein.layouts.tab_navigation.albums'), casein_albums_path %></li>
<li id="tab-user_forms"><%= link_to t('views.casein.layouts.tab_navigation.user_forms'), casein_user_forms_path %></li>
<li id="tab-categories"><%= link_to t('views.casein.layouts.tab_navigation.pages'), casein_pages_path %></li>
