= render "admin/menu_elements/type_element/#{params[:dynamic_menu_element_types][:type].gsub('DynamicMenu::ElementTypes::', '').downcase}", f: f
= f.submit class: "btn btn-mini btn-primary"
= f.submit 'back', name: 'back_button'