/header.main-header.clearfix
/  h1.main-header__title
/    i.icon.pe-7s-home
/    | Dashboard
/    small Statistics and more
/  ul.main-header__breadcrumb
/    li
/      a href="#" Home
/    li
/      a href="#" Dashboard
/    li.active
/      a href="#" Sample Pages
/  .main-header__date
/    i.icon.pe-7s-date
/    span May 30, 2014
/    i.pe-7s-angle-down-circle

