= breadcrumbs style: :ul, class: 'main-header__breadcrumb', current_class: 'active', link_current: true
/  ul.main-header__breadcrumb
/    li
/      a href="#" Home
/    li
/      a href="#" Dashboard
/    li.active
/      a href="#" Sample Pages
/  .main-header__date
/    i.icon.pe-7s-date
/    span May 30, 2014
/    i.pe-7s-angle-down-circle

