h2 Pages
= render partial: 'casein/pages/table', locals: { pages: pages }
.text-center
= content_for :sidebar do
  li= link_to "#{casein_show_icon "plus-sign"} add page".html_safe, new_casein_page_path