h2= t('views.casein.posts.edit.header')

= render 'form'

= content_for :sidebar do
  li= link_to "#{casein_show_icon "th-list"} #{t('views.casein.posts.edit.back_to_list')}".html_safe, casein_posts_path
